{project_app_dirs, ["_build/*/lib/*", "."]}.
{src_dirs, ["src"]}.

{erl_opts, [ debug_info
           , {parse_transform, lager_transform}]}.

{relx, [{release, {local, "0.0.1"},
         [conductor_instance]},

        {dev_mode, true},
        {include_erts, true},

        {extended_start_script, true}]}.

{deps, [
         lager
       ]}.
